.mobileNav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
  }

  .navItem {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--neutral-50);
    font-family: var(--font-primary);
    display: inline-flex;
    gap: 0.6rem;
    align-items: center;

    img {
      width: 2.4rem;
      height: auto;
    }
  }

  .copyright {
    color: var(--neutral-50);
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    font-family: var(--font-secondary);
  }
}

.crossBtn {
  height: 3.8rem;
  width: 3.8rem;
  color: var(--neutral-100);

  svg {
    width: 100%;
    height: 100%;
  }
}

.drawer {
  // margin-top: 10rem;

  :global {
    .ant-drawer-content-wrapper {
      box-shadow: none;
    }

    .ant-drawer-content-wrapper {
      height: 100% !important;
    }

    .ant-drawer-content {
      background: none;
    }

    .ant-drawer-body {
      background: rgba(46, 45, 45, 0.9);
    }
  }
}

.dropdown {
  :global {
    .ant-dropdown-menu,
    .ant-dropdown-menu-item {
      padding: 0 !important;
      margin: 0 !important;
      background: var(--neutral-777) !important;
    }

    .ant-dropdown-menu-item {
      color: var(--neutral-50) !important;
      border: 2px solid var(--neutral-500);

      & > * {
        border-radius: 0;
      }

      &:hover {
        background: var(--primary-470) !important;
        border-color: var(--primary-470) !important;
      }

      &:first-of-type {
        border-bottom: unset;
        border-radius: 4px 4px 0 0 !important;
      }

      &:last-of-type {
        border-top: unset;
        border-radius: 0 0 4px 4px !important;
      }
    }
  }
}

.submenuItem {
  font-family: var(--font-primary);
  font-weight: 600;
  display: inline-flex;
  gap: 0.6rem;
  align-items: center;
  // background: var(--primary-470);
  color: var(--neutral-50);
  width: 100%;
  height: 100%;
  padding: 0.9rem 1.4rem;
  font-size: 2.1rem;

  img {
    width: 2.4rem;
    height: auto;
  }
}
