.container {
  display: flex;
  align-items: center;
  background: var(--background);
  padding: 6.4rem 0;
  gap: 70px;
  justify-content: center;
  flex-wrap: wrap;

  @screen lg {
    flex-wrap: nowrap;
    gap: 10vw;
    padding: 6rem 10rem;
  }

  .numberContainer {
    .title {
      color: var(--neutral-800);
      text-align: center;
      font-family: var(--font-secondary);
      font-size: 9rem;
      font-weight: 500;
      line-height: 7rem;
      display: block;
      margin-bottom: 3rem;
    }

    .text {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 3.4rem;
      letter-spacing: -0.48px;
      display: block;
      text-align: center;
    }
  }
}
