.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--neutral-800);
  color: var(--neutral-50);
  height: 9rem;

  span {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem; /* 133.333% */
    font-family: var(--font-secondary);
  }
}
