.button {
  font-weight: 600;
  font-size: 1.8rem;
  color: var(--text-d);
  background: var(--tertiary-a);
  border-radius: 30px;
  padding: 0 2rem;
  height: 4.5rem;
  display: inline-flex;
  align-items: center;
  transition: background 150ms ease;
  gap: 0.7rem;
  white-space: nowrap;
  flex-shrink: 0;

  @screen lg {
    font-size: 2.1rem;
    height: 5.2rem;
  }

  &:hover {
    background: var(--hover-a);
  }

  img {
    height: 14px;
    width: auto;
  }
}
